/* 
* Using icomoon.io
* Source file: /public/fonts/icons/source/_icomoon_backup.json
* SVG Icons: /public/fonts/icons/source;
* Total: 38 icons
*/

@font-face {
  font-family: 'lootly-icons';
  src:  url('/fonts/icons/lootly-icons.eot?ppjwgq');
  src:  url('/fonts/icons/lootly-icons.eot?ppjwgq#iefix') format('embedded-opentype'),
    url('/fonts/icons/lootly-icons.ttf?ppjwgq') format('truetype'),
    url('/fonts/icons/lootly-icons.woff?ppjwgq') format('woff'),
    url('/fonts/icons/lootly-icons.svg?ppjwgq#lootly-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lootly-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #627482;
  font-size: 26px;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goal-spend:before {
  content: "\e924";
}
.icon-add:before {
  content: "\e900";
}
.icon-billings:before {
  content: "\e901";
  color: #627482;
}
.icon-birthday:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-coin:before {
  content: "\e904";
}
.icon-content:before {
  content: "\e905";
}
.icon-create-account:before {
  content: "\e906";
}
.icon-customers:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-display:before {
  content: "\e909";
}
.icon-downward-arrow:before {
  content: "\e90a";
}
.icon-export:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-gear:before {
  content: "\e90d";
  color: #627482;
}
.icon-gift:before {
  content: "\e90e";
}
.icon-goal-orders:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-image-upload:before {
  content: "\e912";
}
.icon-import:before {
  content: "\e913";
}
.icon-integrations:before {
  content: "\e914";
}
.icon-logout:before {
  content: "\e915";
  color: #627482;
}
.icon-long-arrow:before {
  content: "\e916";
}
.icon-mailChimp:before {
  content: "\e917";
}
.icon-package:before {
  content: "\e918";
}
.icon-percentage:before {
  content: "\e919";
}
.icon-points:before {
  content: "\e91a";
}
.icon-reports:before {
  content: "\e91b";
}
.icon-rocket:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-support:before {
  content: "\e91e";
  color: #627482;
}
.icon-trophy:before {
  content: "\e91f";
}
.icon-trustspot:before {
  content: "\e920";
}
.icon-twitter:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-custom:before {
  content: "\e926";
}
.icon-upward-arrow:before {
  content: "\e922";
}
.icon-vip:before {
  content: "\e923";
}